
.obsidian/appearance.json
.obsidian/workspace.json
2.Semester/Text and Speech/Text and Speech_01_SoSe_2024_merge 2.pdf
/3.Semester/3D-Rendering/cache_fluid_832579ca
/3.Semester/3D-Rendering/cache_fluid_4b85f272
