
.obsidian/appearance.json
.obsidian/workspace.json
2.Semester/Text and Speech/Text and Speech_01_SoSe_2024_merge 2.pdf
/3.Semester/3D-Rendering/cache_fluid_832579ca
/3.Semester/3D-Rendering/cache_fluid_4b85f272
3.Semester/3D-Illustrationen/XVL_Studio_x64-22_0aG.exe
3.Semester/3D-Illustrationen/xvlstudioopt.ltl
3.Semester/3D-Illustrationen/xvlstudiostd.ltl
/4.Semester/Software engineering
4.Semester/3D-Visualisierung/Cave_scene.blend
4.Semester/3D-Visualisierung/Cave_scene.blend1
4.Semester/3D-Visualisierung/Blenderkit_assets/hdrs/evening-meadow_8d9754ab-164a-4162-aa89-626766922e6b/evening-meadow_4K_4bae46a1-5edb-4e5d-a6ec-3d6974b0a1d7.exr
